.array {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 100vw;
  max-width: 1200px;
  gap: 50px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center; /* 아이템들을 수직 가운데 정렬 */
  border: 1px solid #8a8282;
  padding: 20px 10px;
  gap: 20px; /* 이미지와 텍스트 사이의 간격 추가 */
  width: 100%;
}
.left {
  flex: 2;
}
.imgBox {
  max-width: 80px; /* 이미지 크기 조정 */
  margin-right: 80px;
  border-radius: 100%;
}
.imgBox > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.right {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
