main {
  width: 100vw;
  height: 100vh;
  background-image: url("../photo/background-1591227_1280.webp");
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Nanum Pen Script", cursive;
}
main > header {
  padding-top: 50px;
  padding-bottom: 60px;
}
main > nav {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
main > nav > div {
  padding: 40px 60px;
}
.title {
  font-size: 70px;
}
.date_box {
  display: flex;

  justify-content: space-around;
}
.date_box > button {
  all: unset; /* 기본 스타일 모두 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  padding: 10px 20px; /* 내부 여백 */

  border-radius: 5px; /* 테두리 둥글게 */
  cursor: pointer; /* 커서 포인터로 변경 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-size: 20px;
}
.date {
  font-size: 30px;
}
.time {
  font-size: 60px;
}
/* .lists {
  margin-bottom: 40px;
} */
.list_title {
  margin-bottom: 40px;

  font-size: 40px;
}
.put_btn {
  all: unset; /* 기본 스타일 모두 제거 */
  width: 50px; /* 버튼 너비 */
  height: 50px; /* 버튼 높이 */
  border: 1px solid black; /* 테두리 설정 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서 포인터로 변경 */
  text-align: center; /* 텍스트 중앙 정렬 */
}
