main {
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.calendar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.list > h5 {
  font-size: 30px;
}

.todolist {
  display: flex;
  flex-direction: column;
}

.todolist > li {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
